a,abbr,acronym,address,applet,b,big,blockquote,body,caption,center,cite,code,dd,del,dfn,div,dl,dt,em,fieldset,font,form,h1,h2,h3,h4,h5,h6,html,i,iframe,img,ins,kbd,label,legend,li,object,p,pre,q,s,samp,small,span,strike,strong,sub,sup,table,tbody,td,tfoot,th,thead,tr,tt,u,ul,var{
    padding:0;
    border:0;
    outline:0;
    vertical-align:baseline;
    background:0 0;
    text-decoration:none
}
form,textarea,input,button{
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    border-radius:0
}
dl,ul{
    list-style-position:inside;
    font-weight:400;
    list-style:none
}
ul li{
    list-style:none
}
caption,th{
    text-align:center
}
img{
    border:none;
    position:relative
}
a,a:visited{
    text-decoration:none
}
.clearfix{
    clear:both
}
.section,.widget,.widget ul{
    margin:0;
    padding:0
}
a{
    color:$(body.link.color)
}
a img{
    border:0
}
abbr{
    text-decoration:none
}
.CSS_LIGHTBOX{
    z-index:999999!important
}
.separator a{
    clear:none!important;
    float:none!important;
    margin-left:0!important;
    margin-right:0!important
}
#navbar-iframe,.widget-item-control,a.quickedit,.home-link,.feed-links{
    display:none!important
}
.center{
    display:table;
    margin:0 auto;
    position:relative
}
.widget > h2,.widget > h3{
    display:none
}
/*-- Body Content CSS --*/
 body{
    background:$(body.background);
    background-color:$(body.background.color);
    font-family:Verdana,sans-serif;
    font-size:14px;
    font-weight:400;
    color:$(body.text.color);
    word-wrap:break-word;
    margin:0;
    padding:0
}
 #outer-wrapper{
    max-width:none;
    margin:0 auto;
    background-color:#fff;
    box-shadow:0 0 5px rgba(0,0,0,.1)
}
 .row{
    width:960px
}
 #content-wrapper{
    margin:30px auto 0;
    overflow:hidden
}
 #content-wrapper > .container{
    margin:0 -15px
}
 #main-wrapper{
    float:left;
    overflow:hidden;
    width:66.66666667%;
    box-sizing:border-box;
    word-wrap:break-word;
    padding:0 15px;
    margin:0
}
 #sidebar-wrapper{
    float:right;
    overflow:hidden;
    width:33.33333333%;
    box-sizing:border-box;
    word-wrap:break-word;
    padding:0 15px
}
 .post-image-wrap{
    position:relative;
    display:block
}
 .post-image-link,.about-author .avatar-container,.comments .avatar-image-container{
    background-color:#f9f9f9;
    color:transparent!important
}
 .post-thumb{
    display:block;
    position:relative;
    width:100%;
    height:100%;
    object-fit:cover;
    z-index:1;
    transition:transform .25s ease
}
 .post-image-link:hover .post-thumb,.post-image-wrap:hover .post-image-link .post-thumb,.hot-item-inner:hover .post-image-link .post-thumb{
    transform:scale(1.03)
}
 h1,h2,h3,h4,h5,h6{
    font-family:'Merriweather',sans-serif
}
 .post-title a{
    display:block
}
 #top-bar{
    width:100%;
    height:70px;
    background-color:$(main.dark.color);
    overflow:hidden;
    display:none;
    margin:0
}
 #top-bar .container{
    margin:0 auto
}
 .top-bar-nav{
    position:relative;
    float:left;
    display:block
}
 .top-bar-nav .widget > .widget-title{
    display:none
}
 .top-bar-nav ul li{
    float:left
}
 .top-bar-nav ul li > a{
    height:70px;
    display:block;
    color:#fcfcfc;
    font-size:14px;
    font-weight:400;
    line-height:70px;
    margin:0 10px 0 0;
    padding:0 5px;
    transition:color .17s
}
 .top-bar-nav ul li:first-child > a{
    padding:0 5px 0 0
}
 .top-bar-nav ul > li:hover > a{
    color:$(main.color)
}
 .top-bar-social{
    position:relative;
    float:right;
    display:block
}
 .top-bar-social .widget > .widget-title{
    display:none
}
 .top-bar-social ul > li{
    float:left;
    display:inline-block
}
 .top-bar-social ul > li > a{
    line-height:34px;
    display:block;
    color:#ddd;
    text-decoration:none;
    font-size:16px;
    text-align:center;
    padding:0 5px;
    margin:0 0 0 10px;
    transition:color .17s
}
 .top-bar-social ul > li:last-child > a{
    padding:0 0 0 5px
}
 .top-bar-social ul > li:hover > a{
    color:$(main.color)
}
 .social a:before{
    display:inline-block;
    font-family:FontAwesome;
    font-style:normal;
    font-weight:400
}
 .social .facebook a:before{
    content:"\f09a"
}
 .social .twitter a:before{
    content:"\f099"
}
 .social .gplus a:before{
    content:"\f0d5"
}
 .social .rss a:before{
    content:"\f09e"
}
 .social .youtube a:before{
    content:"\f16a"
}
 .social .skype a:before{
    content:"\f17e"
}
 .social .stumbleupon a:before{
    content:"\f1a4"
}
 .social .tumblr a:before{
    content:"\f173"
}
 .social .vk a:before{
    content:"\f189"
}
 .social .stack-overflow a:before{
    content:"\f16c"
}
 .social .github a:before{
    content:"\f09b"
}
 .social .linkedin a:before{
    content:"\f0e1"
}
 .social .dribbble a:before{
    content:"\f17d"
}
 .social .soundcloud a:before{
    content:"\f1be"
}
 .social .behance a:before{
    content:"\f1b4"
}
 .social .digg a:before{
    content:"\f1a6"
}
 .social .instagram a:before{
    content:"\f16d"
}
 .social .pinterest a:before{
    content:"\f0d2"
}
 .social .twitch a:before{
    content:"\f1e8"
}
 .social .delicious a:before{
    content:"\f1a5"
}
 .social .codepen a:before{
    content:"\f1cb"
}
 .social .reddit a:before{
    content:"\f1a1"
}
 .social .whatsapp a:before{
    content:"\f232"
}
 .social .snapchat a:before{
    content:"\f2ac"
}
 .social .email a:before{
    content:"\f0e0"
}
 .social .external-link a:before{
    content:"\f35d"
}
 .social-color .facebook a{
    background-color:#3b5999
}
 .social-color .twitter a{
    background-color:#00acee
}
 .social-color .gplus a{
    background-color:#db4a39
}
 .social-color .youtube a{
    background-color:#db4a39
}
 .social-color .instagram a{
    background:linear-gradient(15deg,#ffb13d,#dd277b,#4d5ed4)
}
 .social-color .pinterest a{
    background-color:#ca2127
}
 .social-color .dribbble a{
    background-color:#ea4c89
}
 .social-color .linkedin a{
    background-color:#0077b5
}
 .social-color .tumblr a{
    background-color:#365069
}
 .social-color .twitch a{
    background-color:#6441a5
}
 .social-color .rss a{
    background-color:#ffc200
}
 .social-color .skype a{
    background-color:#00aff0
}
 .social-color .stumbleupon a{
    background-color:#eb4823
}
 .social-color .vk a{
    background-color:#4a76a8
}
 .social-color .stack-overflow a{
    background-color:#f48024
}
 .social-color .github a{
    background-color:#24292e
}
 .social-color .soundcloud a{
    background:linear-gradient(#ff7400,#ff3400)
}
 .social-color .behance a{
    background-color:#191919
}
 .social-color .digg a{
    background-color:#1b1a19
}
 .social-color .delicious a{
    background-color:#0076e8
}
 .social-color .codepen a{
    background-color:#000
}
 .social-color .reddit a{
    background-color:#ff4500
}
 .social-color .whatsapp a{
    background-color:#3fbb50
}
 .social-color .snapchat a{
    background-color:#ffe700
}
 .social-color .email a{
    background-color:#888
}
 .social-color .external-link a{
    background-color:$(main.dark.color)
}
 .social-text .facebook a:after{
    content:"Facebook"
}
 .social-text .twitter a:after{
    content:"Twitter"
}
 .social-text .gplus a:after{
    content:"Google Plus"
}
 .social-text .rss a:after{
    content:"Rss"
}
 .social-text .youtube a:after{
    content:"YouTube"
}
 .social-text .skype a:after{
    content:"Skype"
}
 .social-text .stumbleupon a:after{
    content:"StumbleUpon"
}
 .social-text .tumblr a:after{
    content:"Tumblr"
}
 .social-text .vk a:after{
    content:"VKontakte"
}
 .social-text .stack-overflow a:after{
    content:"Stack Overflow"
}
 .social-text .github a:after{
    content:"Github"
}
 .social-text .linkedin a:after{
    content:"LinkedIn"
}
 .social-text .dribbble a:after{
    content:"Dribbble"
}
 .social-text .soundcloud a:after{
    content:"SoundCloud"
}
 .social-text .behance a:after{
    content:"Behance"
}
 .social-text .digg a:after{
    content:"Digg"
}
 .social-text .instagram a:after{
    content:"Instagram"
}
 .social-text .pinterest a:after{
    content:"Pinterest"
}
 .social-text .twitch a:after{
    content:"Twitch"
}
 .social-text .delicious a:after{
    content:"Delicious"
}
 .social-text .codepen a:after{
    content:"CodePen"
}
 .social-text .flipboard a:after{
    content:"Flipboard"
}
 .social-text .reddit a:after{
    content:"Reddit"
}
 .social-text .whatsapp a:after{
    content:"Whatsapp"
}
 .social-text .messenger a:after{
    content:"Messenger"
}
 .social-text .snapchat a:after{
    content:"Snapchat"
}
 .social-text .email a:after{
    content:"Email"
}
 .social-text .external-link a:after{
    content:"WebSite"
}
 #header-wrap{
    position:relative;
    margin:0
}
 .header-header{
    background-color:#fff;
    width:100%;
    max-height:300px;
    position:relative;
    overflow:hidden;
    padding:30px 0
}
 .header-header .container{
    position:relative;
    margin:0 auto;
    padding:0
}
 .header-logo{
    position:relative;
    float:left;
    width:auto;
    max-width:200px;
    margin:0;
    padding:15px 0
}
 .header-logo .header-image-wrapper{
    display:block
}
 .header-logo img{
    max-width:100%;
    max-height:60px;
    margin:0
}
 .header-logo h1{
    color:$(title.color);
    font-size:36px;
    width:900px;
    margin:0
}
 .header-logo p{
    font-size:12px;
    margin:5px 0 0
}
 .header-ads{
    position:relative;
    float:right
}
 .header-ads .widget > .widget-title{
    display:none
}
 .header-ads .widget{
    max-width:100%
}
 .header-ads .widget .widget-content{
    width:728px;
    max-width:100%;
    max-height:90px;
    line-height:1
}
 .header-menu{
    position:relative;
    width:100%;
    height:48px;
    background-color:#f2f2f2;
    z-index:10;
    font-size:13px;
    box-sizing:border-box;
    margin:0;
    border-top:1px solid #eaeaea;
    border-bottom:1px solid #eaeaea
}
 .header-menu .container{
    position:relative;
    margin:0 auto;
    padding:0
}

 #main-menu .show-menu{
    display:block
}
 #main-menu{
    position:relative;
    height:46px;
    z-index:15
}
 #main-menu ul > li{
    float:left;
    position:relative;
    margin:0;
    padding:0;
    transition:background .17s
}
 #main-menu ul > li > a{
    position:relative;
    color:$(title.color);
    font-size:14px;
    font-weight:400;
    line-height:46px;
    display:inline-block;
    margin:0;
    padding:0 15px;
    transition:color .17s ease
}
 #main-menu #main-menu-nav > li:first-child > a{
    padding-left:0
}
 #main-menu ul > li:hover > a{
    color:$(main.color)
}
 #main-menu ul > li > ul{
    position:absolute;
    float:left;
    left:0;
    top:46px;
    width:180px;
    background-color:#fff;
    z-index:99999;
    margin-top:0;
    padding:0;
    border:1px solid #eaeaea;
    box-shadow:0 1px 0 0 #eaeaea;
    visibility:hidden;
    opacity:0
}
 #main-menu ul > li > ul > li > ul{
    position:absolute;
    float:left;
    top:0;
    left:100%;
    margin:-1px 0 0
}
 #main-menu ul > li > ul > li{
    display:block;
    float:none;
    position:relative
}
 #main-menu ul > li > ul > li a{
    display:block;
    height:36px;
    font-size:13px;
    color:#777;
    line-height:36px;
    box-sizing:border-box;
    margin:0;
    padding:0 15px;
    border:0;
    border-bottom:1px solid #eaeaea;
    transition:all .17s ease
}
 #main-menu ul > li > ul > li:hover > a{
    color:$(main.color)
}
 #main-menu ul > li > ul > li:last-child a{
    border-bottom:0
}
 #main-menu ul > li.has-sub > a:after{
    content:'\f107';
    float:right;
    font-family:FontAwesome;
    font-size:12px;
    font-weight:400;
    margin:0 0 0 5px
}
 #main-menu ul > li > ul > li.has-sub > a:after{
    content:'\f105';
    float:right;
    margin:0
}

 #main-menu ul > li:hover > ul,#main-menu ul > li > ul > li:hover > ul{
    visibility:visible;
    opacity:1
}
 #main-menu ul ul{
    transition:all .25s ease
}

 .no-posts{
    float:left;
    width:100%;
    height:100px;
    line-height:100px;
    text-align:center
}

 .show-search,.hide-search{
    position:absolute;
    right:0;
    top:0;
    display:block;
    width:36px;
    height:46px;
    line-height:46px;
    z-index:20;
    color:$(title.color);
    font-size:15px;
    text-align:right;
    cursor:pointer;
    padding:0;
    transition:color .17s ease
}
 .show-search:before{
    content:"\f002";
    font-family:FontAwesome;
    font-weight:400
}
 .hide-search:before{
    content:"\f00d";
    font-family:FontAwesome;
    font-weight:400
}
 .show-search:hover,.hide-search:hover{
    color:$(main.color)
}
 #nav-search{
    display:none;
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:46px;
    z-index:99;
    background-color:#f2f2f2;
    box-sizing:border-box;
    padding:0
}
 #nav-search .search-form{
    width:100%;
    height:46px;
    background-color:rgba(0,0,0,0);
    line-height:46px;
    overflow:hidden;
    padding:0
}
 #nav-search .search-input{
    width:100%;
    height:46px;
    font-family:inherit;
    color:$(title.color);
    margin:0;
    padding:0 46px 0 0;
    background-color:rgba(0,0,0,0);
    font-size:13px;
    font-weight:400;
    outline:none;
    box-sizing:border-box;
    border:0
}
 #mobile-logo .widget > .widget-title > h3{
    display:none
}
 .mobile-header{
    display:none;
    position:relative;
    float:left;
    width:100%;
    height:50px;
    background-color:$(main.dark.color);
    z-index:1010
}
 .mobile-header .logo-content{
    position:relative;
    float:left;
    display:block;
    width:100%;
    height:50px;
    text-align:center;
    z-index:2
}
 .mobile-header .logo-content > a{
    height:30px;
    display:inline-block;
    padding:10px 0
}
 .mobile-header .logo-content > a > img, .dmca-badge img{
      width: 114px;
    height: 34px;
    object-fit: cover;
}
 .mobile-header .logo-content > h3{
    font-size:20px;
    height:30px;
    line-height:30px;
    margin:10px 0 0
}
 .mobile-header .logo-content > h3 > a{
    color:#fff
}
 .mobile-search-form{
    position:absolute;
    display:none;
    z-index:4;
    background-color:$(main.dark.color);
    width:100%;
    height:50px;
    left:0;
    top:0
}
 .mobile-search-form .mobile-search-input{
    background-color:$(main.dark.color);
    display:block;
    width:calc(100% - 50px);
    height:50px;
    font-family:inherit;
    font-size:13px;
    font-weight:400;
    color:#fff;
    box-sizing:border-box;
    padding:0 20px;
    border:0
}
 .mobile-search-form{
    position:absolute;
    display:none;
    z-index:4;
    background-color:$(main.dark.color);
    width:100%;
    height:50px;
    left:0;
    top:0
}
 .mobile-search-form .mobile-search-input{
    background-color:$(main.dark.color);
    display:block;
    width:calc(100% - 50px);
    height:50px;
    font-size:13px;
    font-weight:400;
    color:#fff;
    box-sizing:border-box;
    padding:0 20px;
    border:0
}
 .overlay{
    display:none;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:990;
    background:rgba(255,255,255,0.8)
}
 .slide-menu-toggle,.show-mobile-search,.hide-mobile-search{
    position:absolute;
    line-height:50px;
    height:50px;
    width:70px;
    top:0;
    left:0;
  
    color:#fff;
    font-size:18px;
    font-weight:400;
    text-align:center;
    cursor:pointer;
    z-index:4;
    padding:0
}
 .slide-menu-toggle{
    border-right:1px solid rgba(255,255,255,0.08)
}
 .show-mobile-search,.hide-mobile-search{
    border-left:1px solid rgba(255,255,255,0.08);
    left:auto;
    right:0
}
 .slide-menu-toggle:before{
    content:"Menu"
}
 .nav-active .slide-menu-toggle:before{
    content:"X"
}
 .show-mobile-search:before{
    content:"🔍"
}
 .hide-mobile-search:before{
    content:"X"
}
 .mobile-menu{
    position:relative;
    float:left;
    width:100%;
    background-color:$(main.dark.color);
    box-sizing:border-box;
    padding:20px;
    border-top:1px solid rgba(255,255,255,0.08);
    visibility:hidden;
    opacity:0;
    transform-origin:0 0;
    transform:scaleY(0);
    transition:all .17s ease
}
 .nav-active .mobile-menu{
    visibility:visible;
    opacity:1;
    transform:scaleY(1)
}
 .mobile-menu > ul{
    margin:0
}
 .mobile-menu .m-sub{
    display:none;
    padding:0
}
 .mobile-menu ul li{
    position:relative;
    display:block;
    overflow:hidden;
    float:left;
    width:100%;
    font-size:14px;
    line-height:38px;
    margin:0;
    padding:0;
    border-top:1px solid rgba(255,255,255,0.01)
}
 .mobile-menu > ul > li{
    font-weight:400
}
 .mobile-menu > ul li ul{
    overflow:hidden
}
 .mobile-menu > ul > li:first-child{
    border-top:0
}
 .mobile-menu ul li a{
    color:#fff;
    padding:0;
    display:block;
    transition:all .17s ease
}
 .mobile-menu ul li.has-sub .submenu-toggle{
    position:absolute;
    top:0;
    right:0;
    color:#fff;
    cursor:pointer
}
 .mobile-menu ul li.has-sub .submenu-toggle:after{
    content:'\f105';
    font-family:FontAwesome;
    font-weight:400;
    float:right;
    width:34px;
    font-size:16px;
    text-align:center;
    transition:all .17s ease
}
 .mobile-menu ul li.has-sub.show > .submenu-toggle:after{
    transform:rotate(90deg)
}
 .mobile-menu > ul > li > ul > li a{
    font-size:13px
}
 .mobile-menu > ul > li > ul > li > a{
    color:#fff;
    opacity:.7;
    padding:0 0 0 15px
}
 .mobile-menu > ul > li > ul > li > ul > li > a{
    color:#fff;
    opacity:.7;
    padding:0 0 0 30px
}
 .mobile-menu ul > li > .submenu-toggle:hover{
    color:$(main.color)
}
 .post-meta{
    display:block;
    overflow:hidden;
    color:#aaa;
    font-size:12px;
    font-weight:400;
    padding:0 1px
}
 .post-meta .post-author,.post-meta .post-date{
    float:left;
    margin:0 10px 0 0
}
 .post-meta .post-date{
    text-transform:capitalize
}
 .post-meta a{
    color:#aaa;
    transition:color .17s
}
 .post-meta a:hover{
    color:$(title.hover)
}
 .post-meta span:before{
    font-family:FontAwesome;
    font-weight:400;
    margin:0 3px 0 0
}
 .post-meta .post-author:before{
    content:'\f2c0'
}
 .post-meta .post-date:before{
    content:'\f017'
}
 .queryMessage{
    overflow:hidden;
    background-color:#f2f2f2;
    color:$(title.color);
    font-size:13px;
    font-weight:400;
    padding:8px 10px;
    margin:0 0 25px
}
 .queryMessage .query-info{
    margin:0 5px
}
 .queryMessage .search-query,.queryMessage .search-label{
    font-weight:700;
    text-transform:uppercase
}
 .queryMessage .search-query:before,.queryMessage .search-label:before{
    content:"\201c"
}
 .queryMessage .search-query:after,.queryMessage .search-label:after{
    content:"\201d"
}
 .queryMessage a.show-more{
    float:right;
    color:$(title.hover);
    text-decoration:underline;
    transition:opacity .17s
}
 .queryMessage a.show-more:hover{
    opacity:.8
}
 .queryEmpty{
    font-size:13px;
    font-weight:400;
    padding:10px 0;
    margin:0 0 25px;
    text-align:center
}
 .title-wrap,.featured-posts .widget-title{
    position:relative;
    float:left;
    width:100%;
    height:29px;
    display:block;
    margin:0 0 20px;
    border-bottom:3px solid #eaeaea
}
 .title-wrap > h3,.featured-posts .widget-title > h3{
    position:relative;
    float:left;
    height:32px;
    font-size:16px;
    color:$(title.color);
    margin:0
}
 .title-wrap > h3:after,.featured-posts .widget-title > h3:after{
    content:'';
    position:absolute;
    left:0;
    bottom:0;
    height:3px;
    width:100%;
    background-color:$(main.color);
    margin:0
}
 a.view-all{
    float:right;
    font-size:13px;
    line-height:29px;
    color:#888;
    transition:color .17s ease
}
 a.view-all:hover{
    color:$(title.hover)
}
 a.view-all:after{
    content:"\f105";
    float:right;
    font-weight:400;
    font-family:FontAwesome;
    margin:0 0 0 3px;
    transition:color .17s
}
 .blog-post{
    display:block;
    overflow:hidden;
    word-wrap:break-word
}
 .index-post{
    padding:0;
    margin:0 0 30px
}
 .index-post .post-image-wrap{
    float:left;
    width:240px;
    height:150px;
    margin:0 20px 0 0
}
 .index-post .post-image-wrap .post-image-link{
    width:100%;
    height:100%;
    position:relative;
    display:block;
    z-index:1;
    overflow:hidden
}
 .post-tag{
    position:absolute;
    top:15px;
    left:15px;
    height:18px;
    z-index:5;
    background-color:rgba(0,0,0,0.5);
    color:#fff;
    font-size:10px;
    line-height:18px;
    font-weight:500;
    text-transform:uppercase;
    padding:0 6px;
    border-radius:2px
}
 .index-post .post-info{
    overflow:hidden
}
 .index-post .post-info > h2{
    font-size:19px;
    font-weight:700;
    line-height:1.5em;
    text-decoration:none;
    margin:0 0 10px
}
 .index-post .post-info > h2 > a{
    display:block;
    color:$(title.color);
    transition:color .17s
}
 .index-post .post-info > h2 > a:hover{
    color:$(title.hover)
}
 .widget iframe,.widget img{
    max-width:100%
}
 .date-header{
    display:block;
    overflow:hidden;
    font-weight:400;
    margin:0!important;
    padding:0
}
 .post-timestamp{
    margin-left:0
}
 .post-snippet{
    position:relative;
    display:block;
    overflow:hidden;
    font-size:12px;
    line-height:1.6em;
    font-weight:400;
    margin:10px 0 0
}
 #breadcrumb{
    font-size:12px;
    font-weight:400;
    color:#aaa;
    margin:0 0 10px
}
 #breadcrumb a{
    color:#aaa;
    transition:color .17s
}
 #breadcrumb a:hover{
    color:$(title.hover)
}
 #breadcrumb a,#breadcrumb em{
    display:inline-block
}
 #breadcrumb .delimiter:after{
    content:'\f105';
    font-family:FontAwesome;
    font-style:normal;
    margin:0 3px
}
 .item-post h1.post-title{
    color:$(title.color);
    font-size:27px;
    line-height:1.5em;
    font-weight:700;
    position:relative;
    display:block;
    margin:15px 0;
    padding:0
}
 .static_page .item-post h1.post-title{
    padding:0 0 10px;
    margin:0;
    border-bottom:1px solid #eaeaea
}
 .item-post .post-body{
    width:100%;
    line-height:1.5em;
    padding:20px 0 0
}
 .static_page .item-post .post-body{
    padding:20px 0
}
 .item-post .post-outer{
    padding:0
}
 .item-post .post-body img{
    max-width:100%
}
 .item-post .post-meta{
    padding:0 1px 10px;
    border-bottom:1px solid #eaeaea
}
 .main .widget{
    margin:0
}
 .main .Blog{
    border-bottom-width:0
}
 .post-footer{
    position:relative;
    float:left;
    width:100%;
    margin:20px 0 0
}
 .inline-ad{
    position:relative;
    display:block;
    max-height:60px;
    margin:0 0 30px
}
 .inline-ad > ins{
    display:block!important;
    margin:0 auto!important
}
 .item .inline-ad{
    float:left;
    width:100%;
    margin:20px 0 0
}
 .item-post-wrap > .inline-ad{
    margin:0 0 20px
}
 .post-labels{
    overflow:hidden;
    height:auto;
    position:relative;
    font-family:'Merriweather',sans-serif;
    padding:0;
    margin:0 0 25px
}
 .post-labels span,.post-labels a{
    float:left;
    color:#aaa;
    font-size:12px;
    font-weight:400;
    margin:0 12px 0 0;
    transition:all .17s ease
}
 .post-labels span{
    color:$(title.color)
}
 .post-labels a:hover{
    color:$(main.color)
}
 .post-share{
    position:relative;
    overflow:hidden;
    line-height:0;
    margin:0 0 30px
}
 ul.share-links{
    position:relative
}
 .share-links li{
    width:32px;
    float:left;
    box-sizing:border-box;
    margin:0 5px 0 0
}
 .share-links li.facebook,.share-links li.twitter,.share-links li.gplus{
    width:20%
}
 .share-links li a{
    float:left;
    display:inline-block;
    cursor:pointer;
    width:100%;
    height:32px;
    line-height:32px;
    color:#fff;
    font-weight:400;
    font-size:13px;
    text-align:center;
    box-sizing:border-box;
    opacity:1;
    margin:0;
    padding:0;
    border-radius:2px;
    transition:all .17s ease
}
 .share-links li.whatsapp-mobile{
    display:none
}
 .is-mobile li.whatsapp-desktop{
    display:none
}
 .is-mobile li.whatsapp-mobile{
    display:inline-block
}
 .share-links li a:before{
    float:left;
    display:block;
    width:32px;
    background-color:rgba(255,255,255,0.07);
    font-size:15px;
    text-align:center;
    line-height:32px
}
 .share-links li a:hover{
    opacity:.8
}
 ul.post-nav{
    position:relative;
    overflow:hidden;
    display:block;
    margin:0 0 30px
}
 .post-nav li{
    display:inline-block;
    width:50%
}
 .post-nav .post-prev{
    float:left;
    text-align:left;
    box-sizing:border-box;
    padding:0 10px
}
 .post-nav .post-next{
    float:right;
    text-align:right;
    box-sizing:border-box;
    padding:0 10px
}
 .post-nav li a{
    color:$(title.color);
    line-height:1.4em;
    display:block;
    overflow:hidden;
    transition:color .17s
}
 .post-nav li:hover a{
    color:$(title.hover)
}
 .post-nav li span{
    display:block;
    font-size:11px;
    color:#aaa;
    font-weight:700;
    text-transform:uppercase;
    padding:0 0 2px
}
 .post-nav .post-prev span:before{
    content:"\f053";
    float:left;
    font-family:FontAwesome;
    font-size:9px;
    font-weight:400;
    text-transform:none;
    margin:0 2px 0 0
}
 .post-nav .post-next span:after{
    content:"\f054";
    float:right;
    font-family:FontAwesome;
    font-size:9px;
    font-weight:400;
    text-transform:none;
    margin:0 0 0 2px
}
 .post-nav p{
    font-family:'Merriweather',sans-serif;
    font-size:12px;
    font-weight:400;
    line-height:1.4em;
    margin:0
}
 .post-nav .post-nav-active p{
    color:#aaa
}
 .about-author{
    position:relative;
    display:block;
    overflow:hidden;
    padding:20px;
    margin:0 0 30px;
    border:1px solid #eaeaea
}
 .about-author .avatar-container{
    position:relative;
    float:left;
    width:80px;
    height:80px;
    overflow:hidden;
    margin:0 15px 0 0;
    border-radius:100%
}
 .about-author .author-avatar{
    float:left;
    width:100%;
    height:100%;
    border-radius:100%
}
 .author-name{
    overflow:hidden;
    display:inline-block;
    font-size:16px;
    font-weight:700;
    margin:7px 0 3px
}
 .author-name span{
    color:$(title.color)
}
 .author-name a{
    color:$(title.color);
    transition:color .17s
}
 .author-name a:hover{
    color:$(main.color)
}
 .author-description{
    display:block;
    overflow:hidden;
    font-size:13px;
    font-weight:400;
    line-height:1.5em
}
 .author-description a:hover{
    text-decoration:underline
}
 #related-wrap{
    overflow:hidden;
    margin:0 0 30px
}
 #related-wrap .related-tag{
    display:none
}
 .related-ready{
    float:left;
    width:100%
}
 .related-ready .loader{
    height:178px
}
 ul.related-posts{
    position:relative;
    overflow:hidden;
    margin:0 -10px;
    padding:0
}
 .related-posts .related-item{
    width:33.33333333%;
    position:relative;
    overflow:hidden;
    float:left;
    display:block;
    box-sizing:border-box;
    padding:0 10px;
    margin:0
}
 .related-posts .post-image-link{
    width:100%;
    height:120px;
    position:relative;
    overflow:hidden;
    display:block
}
 .related-posts .related-item .post-meta{
    padding:0;
    border:0
}
 .related-posts .post-title{
    font-size:14px;
    font-weight:700;
    line-height:1.5em;
    display:block;
    margin:7px 0 6px
}
 .related-posts .post-title a{
    color:$(title.color);
    transition:color .17s
}
 .related-posts .post-title a:hover{
    color:$(title.hover)
}
 #blog-pager{
    overflow:hidden;
    clear:both;
    margin:0 0 30px
}
 .blog-pager a,.blog-pager span{
    float:left;
    display:block;
    min-width:30px;
    height:30px;
    background-color:#f0f0f0;
    color:$(title.color);
    font-size:13px;
    font-weight:500;
    line-height:30px;
    text-align:center;
    box-sizing:border-box;
    margin:0 5px 0 0;
    border-radius:2px;
    transition:all .17s ease
}
 .blog-pager .blog-pager-newer-link,.blog-pager .blog-pager-older-link{
    padding:0 15px
}
 .blog-pager .blog-pager-newer-link{
    float:left
}
 .blog-pager .blog-pager-older-link{
    float:right
}
 .blog-pager span.page-dots{
    min-width:20px;
    background-color:#fff;
    font-size:16px;
    line-height:30px;
    font-weight:400;
    letter-spacing:-1px;
    border:0
}
 .blog-pager .page-of{
    display:none;
    width:auto;
    float:right;
    border-color:rgba(0,0,0,0);
    margin:0
}
 .blog-pager .page-active,.blog-pager a:hover{
    background-color:$(main.color);
    color:#fff;
    border-color:$(main.color)
}
 .blog-pager .page-prev:before,.blog-pager .page-next:before{
    font-family:FontAwesome;
    font-size:16px;
    font-weight:400
}
 .blog-pager .page-prev:before{
    content:'\f104'
}
 .blog-pager .page-next:before{
    content:'\f105'
}
 .blog-pager .blog-pager-newer-link:after{
    content:'\f104';
    float:left;
    font-family:FontAwesome;
    font-weight:400;
    margin:0 3px 0 0
}
 .blog-pager .blog-pager-older-link:after{
    content:'\f105';
    float:right;
    font-family:FontAwesome;
    font-weight:400;
    margin:0 0 0 3px
}
 .archive #blog-pager{
    display:none
}
 .blog-post-comments{
    display:none;
    margin:0 0 30px
}
 .blog-post-comments .comments-title{
    margin:0 0 20px
}
 .comments-system-disqus .comments-title,.comments-system-facebook .comments-title{
    margin:0
}
 #comments{
    margin:0
}
 #gpluscomments{
    float:left!important;
    width:100%!important;
    margin:0 0 25px!important
}
 #gpluscomments iframe{
    float:left!important;
    width:100%
}
 .comments{
    display:block;
    clear:both;
    margin:0;
    color:$(title.color)
}
 .comments > h3{
    font-size:13px;
    font-weight:400;
    font-style:italic;
    padding-top:1px
}
 .comments .comments-content .comment{
    list-style:none;
    margin:0;
    padding:0 0 8px
}
 .comments .comments-content .comment:first-child{
    padding-top:0
}
 .facebook-tab,.fb_iframe_widget_fluid span,.fb_iframe_widget iframe{
    width:100%!important
}
 .comments .item-control{
    position:static
}
 .comments .avatar-image-container{
    float:left;
    overflow:hidden;
    position:absolute
}
 .comments .avatar-image-container,.comments .avatar-image-container img{
    height:45px;
    max-height:45px;
    width:45px;
    max-width:45px;
    border-radius:0
}
 .comments .comment-block{
    overflow:hidden;
    padding:0 0 10px
}
 .comments .comment-block,.comments .comments-content .comment-replies{
    margin:0 0 0 60px
}
 .comments .comments-content .inline-thread{
    padding:0
}
 .comments .comment-actions{
    float:left;
    width:100%;
    position:relative;
    margin:0
}
 .comments .comments-content .comment-header{
    font-size:12px;
    display:block;
    overflow:hidden;
    clear:both;
    margin:0 0 3px;
    padding:0 0 5px;
    border-bottom:1px dashed #eaeaea
}
 .comments .comments-content .comment-header a{
    color:$(title.color);
    transition:color .17s
}
 .comments .comments-content .comment-header a:hover{
    color:$(title.hover)
}
 .comments .comments-content .user{
    font-style:normal;
    font-weight:700;
    text-transform:uppercase;
    display:block
}
 .comments .comments-content .icon.blog-author{
    display:none
}
 .comments .comments-content .comment-content{
    float:left;
    font-size:13px;
    color:#5E5E5E;
    font-weight:400;
    text-align:left;
    line-height:1.4em;
    margin:5px 0 9px
}
 .comments .comment .comment-actions a{
    margin-right:5px;
    padding:2px 5px;
    color:$(title.color);
    font-weight:400;
    border:1px solid #f5f5f5;
    font-size:10px;
    transition:all .17s ease
}
 .comments .comment .comment-actions a:hover{
    color:#fff;
    background-color:$(main.color);
    border-color:$(main.color);
    text-decoration:none
}
 .comments .comments-content .datetime{
    float:left;
    font-size:11px;
    font-weight:400;
    color:#aaa;
    position:relative;
    padding:0 1px;
    margin:4px 0 0;
    display:block
}
 .comments .comments-content .datetime a,.comments .comments-content .datetime a:hover{
    color:#aaa
}
 .comments .comments-content .datetime:before{
    content:'\f017';
    font-family:FontAwesome;
    font-size:11px;
    font-weight:400;
    font-style:normal;
    margin:0 3px 0 0
}
 .comments .thread-toggle{
    margin-bottom:4px
}
 .comments .thread-toggle .thread-arrow{
    height:7px;
    margin:0 3px 2px 0
}
 .comments .thread-count a,.comments .continue a{
    transition:opacity .17s
}
 .comments .thread-count a:hover,.comments .continue a:hover{
    opacity:.8
}
 .comments .thread-expanded{
    padding:5px 0 0
}
 .comments .thread-chrome.thread-collapsed{
    display:none
}
 .thread-arrow:before{
    content:'';
    font-family:FontAwesome;
    color:$(title.color);
    font-weight:400;
    margin:0 2px 0 0
}
 .comments .thread-expanded .thread-arrow:before{
    content:'\f0d7'
}
 .comments .thread-collapsed .thread-arrow:before{
    content:'\f0da'
}
 .comments .comments-content .comment-thread{
    margin:0
}
 .comments .comments-content .comment-thread > ol{
    padding:0
}
 .comments .continue a{
    padding:0 0 0 60px;
    font-weight:400
}
 .comments .comments-content .loadmore.loaded{
    margin:0;
    padding:0
}
 .comments .comment-replybox-thread{
    margin:0
}
 .comments .comments-content .loadmore,.comments .comments-content .loadmore.loaded{
    display:none
}
 .post-body h1,.post-body h2,.post-body h3,.post-body h4,.post-body h5,.post-body h6{
    color:$(title.color);
    margin:0 0 15px
}
 .post-body h1,.post-body h2{
    font-size:24px
}
 .post-body h3{
    font-size:21px
}
 .post-body h4{
    font-size:18px
}
 .post-body h5{
    font-size:16px
}
 .post-body h6{
    font-size:13px
}


.post-body h1,.post-body h1
.post-body h1,.post-body h1
,.post-body h1,.post-body h1
{
margin:10px auto;
}




 blockquote{
    font-style:italic;
    padding:10px;
    margin:0;
    border-left:4px solid $(main.color)
}
 blockquote:before,blockquote:after{
    display:inline-block;
    font-family:FontAwesome;
    font-style:normal;
    font-weight:400;
    color:#aaa;
    line-height:1
}
 blockquote:before{
    content:'\f10d';
    margin:0 10px 0 0
}
 blockquote:after{
    content:'\f10e';
    margin:0 0 0 10px
}
 .widget .post-body ul,.widget .post-body ol{
    line-height:1.5;
    font-weight:400
}
 .widget .post-body li{
    margin:5px 0;
    padding:0;
    line-height:1.5
}
 .post-body ul{
    padding:0 0 0 20px
}
 .post-body ul li:before{
    content:"\f105";
    font-family:FontAwesome;
    font-size:13px;
    font-weight:400;
    margin:0 5px 0 0
}
 .post-body u{
    text-decoration:underline
}
 .post-body a{
    transition:color .17s ease
}
 .post-body strike{
    text-decoration:line-through
}
 .contact-form{
    overflow:hidden
}
 .contact-form .widget-title{
    display:none
}
 .contact-form .contact-form-name{
    width:calc(50% - 5px)
}
 .contact-form .contact-form-email{
    width:calc(50% - 5px);
    float:right
}
 .sidebar .widget{
    position:relative;
    overflow:hidden;
    background-color:#fff;
    box-sizing:border-box;
    padding:0;
    margin:0 0 30px
}
 .sidebar .widget-title{
    position:relative;
    float:left;
    width:100%;
    display:block;
    margin:0 0 20px;
    background:$(side.title.color)
}
 .sidebar .widget-title > h3{
    position:relative;
    float:left;
   padding: 6px 10px;
    box-sizing: border-box;
    font-size:16px;
    color:#fff;
    margin:0;
background:$(side.title.bg.color)
}

 .sidebar .widget-content{
    float:left;
    width:100%;
    margin:0
}
 .social-counter li{
    float:left;
    width:calc(50% - 5px);
    margin:10px 0 0
}
 .social-counter li:nth-child(1),.social-counter li:nth-child(2){
    margin-top:0
}
 .social-counter li:nth-child(even){
    float:right
}
 .social-counter li a{
    display:block;
    height:34px;
    font-size:13px;
    color:#fff;
    line-height:34px;
    border-radius:2px;
    transition:opacity .17s
}
 .social-counter li a:hover{
    opacity:.8
}
 .social-counter li a:before{
    float:left;
    width:34px;
    height:34px;
    background-color:rgba(255,255,255,0.1);
    font-size:16px;
    text-align:center;
    margin:0 10px 0 0
}
 .list-label li{
    position:relative;
    display:block;
    padding:8px 0;
    border-top:1px dotted #eaeaea
}
 .list-label li:first-child{
    padding:0 0 8px;
    border-top:0
}
 .list-label li:last-child{
    padding-bottom:0;
    border-bottom:0
}
 .list-label li a{
    display:block;
    color:$(title.color);
    font-size:13px;
    font-weight:400;
    text-transform:capitalize;
    transition:color .17s
}
 .list-label li a:before{
    content:"\f105";
    float:left;
    color:$(title.color);
    font-weight:400;
    font-family:FontAwesome;
    margin:0 3px 0 0;
    transition:color .17s
}
 .list-label li a:hover{
    color:$(title.hover)
}
 .list-label .label-count{
    position:relative;
    float:right;
    width:16px;
    height:16px;
    background-color:$(main.color);
    color:#fff;
    font-size:11px;
    font-weight:400;
    text-align:center;
    line-height:16px;
    border-radius:2px
}
 .cloud-label li{
    position:relative;
    float:left;
    margin:0 5px 5px 0
}
 .cloud-label li a{
    display:block;
    height:26px;
    background-color:#f2f2f2;
    color:$(title.color);
    font-size:12px;
    line-height:26px;
    font-weight:400;
    padding:0 10px;
    border-radius:2px;
    transition:all .17s ease
}
 .cloud-label li a:hover{
    color:#fff;
    background-color:$(main.color)
}
 .cloud-label .label-count{
    display:none
}
 .sidebar .FollowByEmail > .widget-title > h3{
    margin:0
}
 .FollowByEmail .widget-content{
    position:relative;
    overflow:hidden;
    font-weight:400;
    text-align:center;
    box-sizing:border-box;
    padding:20px;
    border:1px solid #eaeaea
}
 .FollowByEmail .widget-content > h3{
    font-size:18px;
    color:$(title.color);
    font-weight:700;
    margin:0 0 13px
}
 .FollowByEmail .before-text{
    font-size:13px;
    color:#888;
    line-height:1.4em;
    margin:0 0 10px;
    display:block;
    padding:0 15px;
    overflow:hidden
}
 .FollowByEmail .follow-by-email-inner{
    position:relative
}
 .FollowByEmail .follow-by-email-inner .follow-by-email-address{
    width:100%;
    height:34px;
    color:#888;
    font-size:11px;
    font-family:inherit;
    text-align:center;
    padding:0 10px;
    margin:0 0 10px;
    box-sizing:border-box;
    border:1px solid #eaeaea;
    border-radius:2px;
    transition:ease .17s
}
 .FollowByEmail .follow-by-email-inner .follow-by-email-address:focus{
    border-color:rgba(0,0,0,0.1)
}
 .FollowByEmail .follow-by-email-inner .follow-by-email-submit{
    width:100%;
    height:34px;
    font-family:inherit;
    font-size:11px;
    color:#fff;
    background-color:$(main.color);
    text-transform:uppercase;
    text-align:center;
    font-weight:700;
    cursor:pointer;
    margin:0;
    border:0;
    border-radius:2px;
    transition:background .17s
}
 .FollowByEmail .follow-by-email-inner .follow-by-email-submit:hover{
    background-color:$(main.dark.color)
}
 #ArchiveList ul.flat li{
    color:$(title.color);
    font-size:13px;
    font-weight:400;
    padding:8px 0;
    border-bottom:1px dotted #eaeaea
}
 #ArchiveList ul.flat li:first-child{
    padding-top:0
}
 #ArchiveList ul.flat li:last-child{
    padding-bottom:0;
    border-bottom:0
}
 #ArchiveList .flat li > a{
    display:block;
    color:$(title.color);
    transition:color .17s
}
 #ArchiveList .flat li > a:hover{
    color:$(title.hover)
}
 #ArchiveList .flat li > a:before{
    content:"\f105";
    float:left;
    color:$(title.color);
    font-weight:400;
    font-family:FontAwesome;
    margin:0 3px 0 0;
    display:inline-block;
    transition:color .17s
}
 #ArchiveList .flat li > a > span{
    position:relative;
    float:right;
    width:16px;
    height:16px;
    background-color:$(main.color);
    color:#fff;
    font-size:11px;
    font-weight:400;
    text-align:center;
    line-height:16px
}
 .PopularPosts .post{
    overflow:hidden;
    margin:20px 0 0
}
 .PopularPosts .post:first-child{
    margin:0
}
 .PopularPosts .post-image-link{
    position:relative;
    width:75px;
    height:65px;
    float:left;
    overflow:hidden;
    display:block;
    vertical-align:middle;
    margin:0 12px 0 0
}
 .PopularPosts .post-info{
    overflow:hidden
}
 .PopularPosts .post-title{
    font-size:13px;
    font-weight:700;
    line-height:1.5em;
    margin:0 0 5px
}
 .PopularPosts .post-title a{
    display:block;
    color:$(title.color);
    transition:color .17s
}
 .PopularPosts .post-title a:hover{
    color:$(title.hover)
}
 .PopularPosts .post-meta{
    font-size:11px
}
 .PopularPosts .post-date:before{
    font-size:10px
}
 .FeaturedPost .post-image-link{
    display:block;
    position:relative;
    overflow:hidden;
    width:100%;
    height:180px;
    margin:0 0 13px
}
 .FeaturedPost .post-title{
    font-size:18px;
    overflow:hidden;
    font-weight:700;
    line-height:1.5em;
    margin:0 0 10px
}
 .FeaturedPost .post-title a{
    color:$(title.color);
    display:block;
    transition:color .17s ease
}
 .FeaturedPost .post-title a:hover{
    color:$(title.hover)
}
 .Text{
    font-size:13px
}
 .contact-form-widget form{
    font-weight:400
}
 .contact-form-name{
    float:left;
    width:100%;
    height:30px;
    font-family:inherit;
    font-size:13px;
    line-height:30px;
    box-sizing:border-box;
    padding:5px 10px;
    margin:0 0 10px;
    border:1px solid #eaeaea;
    border-radius:2px
}
 .contact-form-email{
    float:left;
    width:100%;
    height:30px;
    font-family:inherit;
    font-size:13px;
    line-height:30px;
    box-sizing:border-box;
    padding:5px 10px;
    margin:0 0 10px;
    border:1px solid #eaeaea;
    border-radius:2px
}
 .contact-form-email-message{
    float:left;
    width:100%;
    font-family:inherit;
    font-size:13px;
    box-sizing:border-box;
    padding:5px 10px;
    margin:0 0 10px;
    border:1px solid #eaeaea;
    border-radius:2px
}
 .contact-form-button-submit{
    float:left;
    width:100%;
    height:30px;
    background-color:$(main.color);
    font-size:13px;
    color:#fff;
    line-height:30px;
    cursor:pointer;
    box-sizing:border-box;
    padding:0 10px;
    margin:0;
    border:0;
    border-radius:2px;
    transition:background .17s ease
}
 .contact-form-button-submit:hover{
    background-color:$(main.dark.color)
}
 .contact-form-error-message-with-border{
    float:left;
    width:100%;
    background-color:#fbe5e5;
    font-size:11px;
    text-align:center;
    line-height:11px;
    padding:3px 0;
    margin:10px 0;
    box-sizing:border-box;
    border:1px solid #fc6262
}
 .contact-form-success-message-with-border{
    float:left;
    width:100%;
    background-color:#eaf6ff;
    font-size:11px;
    text-align:center;
    line-height:11px;
    padding:3px 0;
    margin:10px 0;
    box-sizing:border-box;
    border:1px solid #5ab6f9
}
 .contact-form-cross{
    margin:0 0 0 3px
}
 .contact-form-error-message,.contact-form-success-message{
    margin:0
}
 .BlogSearch .search-input{
    float:left;
    width:75%;
    height:30px;
    background-color:#fff;
    font-weight:400;
    font-size:13px;
    line-height:30px;
    box-sizing:border-box;
    padding:5px 10px;
    border:1px solid #eaeaea;
    border-right-width:0
}
 .BlogSearch .search-action{
    float:right;
    width:25%;
    height:30px;
    font-family:inherit;
    font-size:13px;
    line-height:30px;
    cursor:pointer;
    box-sizing:border-box;
    background-color:$(main.color);
    color:#fff;
    padding:0 5px;
    border:0;
    transition:background .17s ease
}
 .BlogSearch .search-action:hover{
    background-color:$(main.dark.color)
}
 .Profile .profile-img{
    float:left;
    width:80px;
    height:80px;
    margin:0 15px 0 0;
    transition:all .17s ease
}
 .Profile .profile-datablock{
    margin:0
}
 .Profile .profile-data .g-profile{
    display:block;
    font-size:14px;
    color:$(title.color);
    margin:0 0 5px;
    transition:color .17s ease
}
 .Profile .profile-data .g-profile:hover{
    color:$(title.hover)
}
 .Profile .profile-info > .profile-link{
    color:$(title.color);
    font-size:11px;
    margin:5px 0 0;
    transition:color .17s ease
}
 .Profile .profile-info > .profile-link:hover{
    color:$(title.hover)
}
 .Profile .profile-datablock .profile-textblock{
    display:none
}
 .common-widget .LinkList ul li,.common-widget .PageList ul li{
    width:calc(50% - 5px);
    padding:7px 0 0
}
 .common-widget .LinkList ul li:nth-child(odd),.common-widget .PageList ul li:nth-child(odd){
    float:left
}
 .common-widget .LinkList ul li:nth-child(even),.common-widget .PageList ul li:nth-child(even){
    float:right
}
 .common-widget .LinkList ul li a,.common-widget .PageList ul li a{
    display:block;
    color:$(title.color);
    font-size:13px;
    font-weight:400;
    transition:color .17s ease
}
 .common-widget .LinkList ul li a:hover,.common-widget .PageList ul li a:hover{
    color:$(title.hover)
}
 .common-widget .LinkList ul li:first-child,.common-widget .LinkList ul li:nth-child(2),.common-widget .PageList ul li:first-child,.common-widget .PageList ul li:nth-child(2){
    padding:0
}
 #footer-wrapper{
    background-color:#f0ffef
}
 #sub-footer-wrapper{
    color:#000000;
    display:block;
    padding:0;
    width:100%;
    overflow:hidden;
    border-top:1px solid rgba(255,255,255,0.05)
}
 #sub-footer-wrapper .container{
    overflow:hidden;
    margin:0 auto;
    padding:10px 0
}
 #menu-footer{
    float:right;
    position:relative;
    display:block
}
 #menu-footer .widget > .widget-title{
    display:none
}
 #menu-footer ul li{
    float:left;
    display:inline-block;
    height:48px;
min-width:48px;
    padding:0;
    margin:0
}
 #menu-footer ul li a{
    font-size:14px;
    font-weight:400;
    display:block;
    color:#2003ad;
    line-height:48px;
    padding:0 5px;
    margin:0 0 0 10px;
min-width:48px;
    transition:color .17s ease
}
 #menu-footer ul li:last-child a{
    padding:0 0 0 5px
}
 #menu-footer ul li a:hover{
    color:$(title.hover)
}
 #sub-footer-wrapper .copyright-area{
    font-size:12px;
    float:left;
    height:34px;
    line-height:34px;
    font-weight:400
}
 #sub-footer-wrapper .copyright-area a{
 
    transition:color .17s
}
 #sub-footer-wrapper .copyright-area a:hover{
    color:$(title.hover)
}
 .hidden-widgets{
    display:none;
    visibility:hidden
}
 .back-top{
    display:none;
    z-index:1010;
    width:70px;
    height:34px;
    position:fixed;
    bottom:25px;
    right:25px;
    cursor:pointer;
    overflow:hidden;
    font-size:20px;
    color:#fff;
    text-align:center;
    line-height:34px;
    border-radius:12px;
    padding:2px 4px;
}
 .back-top:before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#1f2620;
    opacity:.70;
    transition:opacity .17s ease
}
 .back-top:after{
    content:'top';
    position:relative;
    
    font-weight:400;
    opacity:.9;
    transition:opacity .17s ease
}
 .back-top:hover:before,.back-top:hover:after,.nav-active .back-top:after,.nav-active .back-top:before{
    opacity:1
}
 .error404 #main-wrapper{
    width:100%!important;
    margin:0!important
}
 .error404 #sidebar-wrapper{
    display:none
}
 .errorWrap{
    color:$(title.color);
    text-align:center;
    padding:80px 0 100px
}
 .errorWrap h3{
    font-size:160px;
    line-height:1;
    margin:0 0 30px
}
 .errorWrap h4{
    font-size:25px;
    margin:0 0 20px
}
 .errorWrap p{
    margin:0 0 10px
}
 .errorWrap a{
    display:block;
    color:$(main.color);
    padding:10px 0 0
}
 .errorWrap a i{
    font-size:20px
}
 .errorWrap a:hover{
    text-decoration:underline
}
 @media screen and (max-width: 1100px) {
     #outer-wrapper{
        max-width:100%
    }
     .row{
        width:100%
    }
     #top-bar .container,.header-header .container,.header-menu .container,#hot-wrapper{
        box-sizing:border-box;
        padding:0 20px
    }
     #header-wrap{
        height:auto
    }
     .header-logo{
        max-width:30%
    }
     .header-ads{
        max-width:70%
    }
     .show-search,.hide-search{
        right:20px
    }
     #nav-search .search-input{
        padding:0 46px 0 20px
    }
     #content-wrapper{
        position:relative;
        box-sizing:border-box;
        padding:0 20px;
        margin:30px 0 0
    }
     #footer-wrapper .container{
        box-sizing:border-box;
        padding:25px 20px
    }
     #sub-footer-wrapper .container{
        box-sizing:border-box;
        padding:10px 20px
    }
}
 @media screen and (max-width: 980px) {
     #content-wrapper > .container{
        margin:0
    }
     #top-bar,.header-logo,.header-menu{
        display:none
    }
     .mobile-header{
        display:block
    }
     #header-wrap{
        padding:0
    }
     .header-header{
        height:auto;
        padding:0
    }
     .header-header .container.row{
        width:100%
    }
     .header-ads{
        width:100%;
        max-width:100%;
        box-sizing:border-box;
        padding:0
    }
     .header-ads .widget .widget-content{
        position:relative;
        padding:20px 0;
        margin:0 auto
    }
     #header-inner a{
        display:inline-block!important
    }
     #main-wrapper,#sidebar-wrapper{
        width:100%;
        padding:0
    }
#sidebar-wrapper{
        max-width:330px;
float:none;
clear:both;
margin:10px auto 0;
    }
}
 @media screen and (max-width: 880px) {
     .footer-widgets-wrap{
        display:block
    }
     #footer-wrapper .footer{
        width:100%;
        margin-right:0
    }
     #footer-sec2,#footer-sec3{
        margin-top:25px
    }
}
 @media screen and (max-width: 680px) {
     .index-post .post-image-wrap,.feat-list .feat-inner .post-image-link,.feat-big .feat-inner .post-image-link,.feat-col .feat-inner .post-image-link,.grid-big .post-image-link,.FeaturedPost .post-image-link{
        width:100%;
        height:180px;
        margin:0 0 10px
    }
     .index-post .post-info,.feat-big .item-big .post-info,.feat-list .post-info{
        float:left;
        width:100%
    }
     .post-snippet{
        margin:8px 0 0
    }
     #menu-footer,#sub-footer-wrapper .copyright-area{
        width:100%;
        height:auto;
        line-height:inherit;
        text-align:center
    }
     #menu-footer{
        margin:10px 0 0
    }
     #sub-footer-wrapper .copyright-area{
        margin:10px 0
    }
     #menu-footer ul li{
        float:none;
        height:auto
    }
     #menu-footer ul li a{
        line-height:inherit;
        margin:0 3px 5px
    }
}
 @media screen and (max-width: 540px) {
     .hot-posts .hot-item,.index-post .post-image-wrap,.feat-list .feat-inner .post-image-link,.feat-big .feat-inner .post-image-link,.feat-col .feat-inner .post-image-link,.grid-big .post-image-link,.FeaturedPost .post-image-link{
        height:160px
    }
     .share-links li a span{
        display:none
    }
     .share-links li.facebook,.share-links li.twitter,.share-links li.gplus{
        width:30px
    }
     ul.related-posts{
        margin:0
    }
     .related-posts .related-item,.grid-small li,.feat-big .item-small{
        width:100%;
        padding:0;
        margin:20px 0 0
    }
     .related-posts .item-0,.grid-small li.item-0{
        padding:0;
        margin:0;
        border:0
    }
     .related-posts .related-item:first-child{
        padding:0
    }
     .related-posts .post-image-link,.feat-big .item-small .post-image-link,.grid-small .post-image-link{
        width:75px;
        height:65px;
        float:left;
        margin:0 12px 0 0
    }
     .related-posts .post-tag{
        display:none
    }
     .related-posts .post-title,.grid-small .post-title{
        font-size:13px;
        overflow:hidden;
        margin:0 0 5px
    }
     .inline-ad,.inline-ad > ins{
        height:auto;
        min-height:1px;
        max-height:250px
    }
     .item-post h1.post-title{
        font-size:25px
    }
}
 @media screen and (max-width: 440px) {
   
     .queryMessage{
        text-align:center
    }
     .queryMessage a.show-more{
        width:100%;
        margin:10px 0 0
    }
     .item-post h1.post-title{
        font-size:21px
    }
     blockquote{
        padding:10px 15px
    }
     .about-author{
        text-align:center
    }
     .about-author .avatar-container{
        float:none;
        display:table;
        margin:0 auto 10px
    }
     #comments ol{
        padding:0
    }
     .errorWrap{
        padding:70px 0 100px
    }
     .errorWrap h3{
        font-size:130px
    }
}
 @media screen and (max-width: 360px) {
     .about-author .avatar-container{
        width:60px;
        height:60px
    }
}


 table{
  border-collapse: collapse;
  width: 100%;
  margin:0 auto;
  text-align: left;
  word-break: break-word;
  border: 1px solid #000000;
}

  th,tr,td{
  border:1px solid #333333;
  border-collapse: collapse;
  padding: 4px 4px;
  }


.amazon{
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
 padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size:18px;
  position:relative;
  margin:0 auto;
  object-fit:cover;
  min-width:90%;
}

iframe{
height:280px;

}

details&gt;summary{
width:fit-content;
border: 3px dashed #000000;
background:#e6efff;
 border-radius: 10px;
padding:2px 6px;
text-align: center;
       margin: 10px auto;
min-width: 40vw;
}


   #ToC{
       font-family: Arial, Helvetica, sans-serif;
       color:#000000;
       background-color:#e6f5fa;
       border-radius: 10px;
       width: 95%;
       border: 1px solid Black;
       padding: 10px;
list-style-type: number;
       margin: 10px auto;
transition:600ms;
   }


#ToC ul li a {
list-style-type: number;
  color: #000000;  
}

  
#ToC ul li {
       width: 100%;

background-color: #e6faf8;
padding:4px 0;
}


  .post-body&gt;div, .post-body&gt;span{
  font-size:18px;
  
  }

  
  .post-body p,.post-body li,.post-body b, .post-body a, .post-body i, .post-body ul, .post-body ol, .post-body th, .post-body tr,.post-body td{
font-size:18px;

 }


.widget-content p,.widget-content li,.widget-content b, .widget-content a, .widget-content i, .widget-content ul, .widget-content ol, .widget-content th, .widget-content tr,.widget-content td{
font-size:18px;

 }
  
  
  
  
  
.fixedbanner{
  
  
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s;
}

.fixedbanner.active {
   
  opacity: 1;
  pointer-events: auto;
}
  
  
  
  
 
  
  .PopularPosts .post-info{
  padding:10px 0;}
  
  

  
  
  input[type=checkbox] {
	-moz-appearance:none;
	-webkit-appearance:none;
	-o-appearance:none;
	outline: none;
	content: none;	
}

input[type=checkbox]:before {
	font-family: &quot;FontAwesome&quot;;
    content: &quot;\f00c&quot;;
    font-size: 15px;
    color: transparent !important;
    background: #fef2e0;
    display:block;
    width: 15px;
    height: 15px;
    border: 1px solid black;
    margin-right: 7px;
}

input[type=checkbox]:checked:before {

	color: black !important;
}
  


 
 
  label {
    font-weight: 500;
    font-size: 20px;
  }

  input, input[type=&quot;text&quot;], input[type=&quot;email&quot;], input[type=&quot;number&quot;], input[type=&quot;url&quot;] {
    width: 100%;
  
    padding: 2% 4%;
    box-sizing: border-box;
    font-family: calibri;
    font-size: 16px;
    margin: 20px auto;
    background: #fcfcfc;
    border: 1px solid #340A0A;
  }

  input:focus {
    border: 2px solid #0d753f;
  }

  #input-box {
    border: 1px solid #f2eee4;
    margin: 10px auto;
    padding: 2%;
    color: #040620;

    text-shadow: 1px 1px #AEE6F5;



  }

  #submit {
    background: #1F2122;
    color: #CCE8EF;
    border-right: 20px solid #55595A;
    border-left: 20px solid #55595A;
    border-radius: 20px 0 20px 0;
    transition: all 0.4s;
    text-align: center;
  }

  #submit:focus {
    background: #013A34;
    border-radius: 0;
  }

  .centern{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }


  #text-box {

    margin: 20px auto;
  }

  #copy {
    background: #0A698F;
    width: 40%;
    height: 40px;
    color: #F8F8F8;
  }

.babu{
  width: 92%;
  margin: 10px auto;
  padding: 2%;
  border: 2px double #0A2C29;
}
  
      .heading_1{
      border: 2px solid #152097;
      margin: 20px auto;
      width: 90%;
      padding: 2% 4%;
      text-align: center;
      text-decoration: underline;
      border-radius: 15px;
    }
    
    .heading_2{
      width: 90%;
      margin: 10px auto;
      text-align: center;
    }

  
 main{
  width:100%;
  background:#ebefef;
  }
  
  hr {
      width: 70%;
      margin: 3% auto;
      border: 5px dashed #000000;
      color: #383C5F;
    }
  
  
  a {
  text-decoration: underline;
  }
  

  .babuda{
  width: 98%;
  margin:20px auto;
  background: #fafffe;
  
  color: #000033;
  padding: 15px 10px;
  
}
 
 
 
 
 @media(max-width: 768px){
   .babuda{ width: 94%;}
 }
  
  .widget-content h3{
  font-size: 1.1rem;
  }
